.timer{
    background-color: black;
    margin: ;
    width: 100%;
    display: flex;
    height: 22%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.digits{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 3rem;
color: red;
}
.milisec{
    color: #e42a2a;
}