<pre> .ControlButtons {
    margin: 3rem 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-grp {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    margin-top: auto;
    box-shadow: 0px 0px 7px 3px red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 3.5rem;
    height: 6vh;
    font-weight: bolder;
    border-radius: 15%;
    margin-top: 40px;
    display: flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
}
.btn-one{
    background-color: red;
}
.btn-two{
    background-color: red;
}